<?xml version="1.0" encoding="utf-8"?>
<robot name="hunter_with_velodyne" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 导入hunter2_base_gazebo.xacro模型 -->
  <xacro:include filename="$(find hunter2_base)/urdf/hunter2_base_gazebo.xacro" />

  <!-- 导入Velodyne模型 -->
  <xacro:include filename="$(find visualization)/urdf/VLP-16.urdf.xacro" />

  <!-- 定义Velodyne的连接点 -->
  <joint name="velodyne_joint" type="fixed">
    <origin xyz="0.1 0.0 0.5" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="velodyne_link" />
  </joint>

  <!-- 附加Velodyne模型到机器人模型 -->
  <joint name="attach_velodyne" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="velodyne_link" />
  </joint>

</robot>
